In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
csv_file = "Output/projects_data_output.csv"
projects_data_df = pd.read_csv(csv_file)
projects_data_df

,Project_ID,Project_Name,Region_Name,Country_Name,Product_Line,Lending_Instrument,Lending_Instrument_Type,Env_Assessment_Code,Project_Status,Board_Approval_Dt,Closing_Date,Lender_Cost,Total_Amt,Grant_Amt,Project_URL
0,P162228,Creating a Trade in Value-Added Database for ...,Other,World,RE,Investment Project Financing,IN,C,Active,2018-06-28,NaN,500000.0,0.0,500000.0,http://projects.worldbank.org/P162228?lang=en
1,P163962,Productive Inclusion Project,Africa,Democratic Republic of the Congo,PE,Investment Project Financing,IN,B,Active,2018-06-28,2023-12-31,200000000.0,200000000.0,0.0,http://projects.worldbank.org/P163962?lang=en
2,P158768,Public-Private Partnerships and Public Investm...,South Asia,Islamic Republic of Afghanistan,PE,Investment Project Financing,IN,A,Active,2018-06-27,2023-06-28,50000000.0,20000000.0,0.0,http://projects.worldbank.org/P158768?lang=en
3,P161364,Nigeria For Women Project,Africa,Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,Active,2018-06-27,2023-05-31,100000000.0,100000000.0,0.0,http://projects.worldbank.org/P161364?lang=en
4,P161885,Nigeria Electrification Project,Africa,Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,Active,2018-06-27,2023-10-31,765000000.0,350000000.0,0.0,http://projects.worldbank.org/P161885?lang=en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12432,P078436,Krasnodar Agricultural Nutrient Reduction GEF ...,Europe and Central Asia,Russian Federation,GE,Specific Investment Loan,IN,B,Dropped,NaN,NaN,10000000.0,0.0,5000000.0,http://projects.worldbank.org/P078436/krasnoda...
12433,P078536,Agricultural Higher Education Reforms Project,South Asia,Republic of India,PE,Specific Investment Loan,IN,B,Dropped,NaN,NaN,200000000.0,160000000.0,0.0,http://projects.worldbank.org/P078536/agricult...
12434,P078769,Bangladesh Private Sector Development Support ...,South Asia,People's Republic of Bangladesh,PE,Specific Investment Loan,IN,A,Dropped,NaN,NaN,165000000.0,85000000.0,0.0,http://projects.worldbank.org/P078769/banglade...
12435,P007039,Education Project,Latin America and Caribbean,Republic of Ecuador,PE,Specific Investment Loan,IN,C,Closed,1968-06-27,1980-12-31,5100000.0,5100000.0,0.0,http://projects.worldbank.org/P007039/educatio...
12436,P000620,Railways and Harbours Project,Africa,Africa,PE,Specific Investment Loan,IN,C,Closed,1955-03-15,1957-06-30,24000000.0,24000000.0,0.0,http://projects.worldbank.org/P000620/railways...

In [15]:
csv_file1 = r"Project2/Output/electricity_final.csv"
electricity_df = pd.read_csv(csv_file1)
electricity_df

      Country Name Country Code  Year  Electricity_Percent_Access
0            Aruba          ABW  1990                   88.445351
1      Afghanistan          AFG  1990                    0.010000
2           Angola          AGO  1990                   11.397808
3          Albania          ALB  1990                  100.000000
4          Andorra          AND  1990                  100.000000
...            ...          ...   ...                         ...
7123        Kosovo          XKX  2016                  100.000000
7124   Yemen, Rep.          YEM  2016                   71.642349
7125  South Africa          ZAF  2016                   84.200000
7126        Zambia          ZMB  2016                   27.219337
7127      Zimbabwe          ZWE  2016                   38.145138

[7128 rows x 4 columns]

In [20]:
csv_file1 = r"Resources/population_data_clean.csv"
population_df = pd.read_csv(csv_file1)
# population_df

population_final_df = population_df[['Country Name','Country Code','Indicator Name','Indicator Code','Year','Population']]
population_final_df

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Population
0,Aruba,ABW,"Population, total",SP.POP.TOTL,2000,90853.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,2000,20093756.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,2000,16440924.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,2000,3089027.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,2000,65390.0
...,...,...,...,...,...,...
4729,Kosovo,XKX,"Population, total",SP.POP.TOTL,2017,1830700.0
4730,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,2017,28250420.0
4731,South Africa,ZAF,"Population, total",SP.POP.TOTL,2017,56717156.0
4732,Zambia,ZMB,"Population, total",SP.POP.TOTL,2017,17094130.0
4733,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2017,16529904.0

In [7]:
rds_connection_string = "postgres: @localhost:5432/WorldBank_ETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
engine.table_names()

<ipython-input-8-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['projects_data',
 'closed_projects',
 'active_projects',
 'population',
 'gdp',
 'electricity',
 'gdp_electricity']

In [11]:
projects_data_df.to_sql(name='projects_data', con=engine, if_exists='append', index=False)

In [18]:
electricity_df.to_sql(name='electricity', con=engine, if_exists='append', index=False)

In [ ]:
population_df.to_sql(name='population', con=engine, if_exists='append', index=False)